.container{
    display: flex ;
    max-width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 14px 14px ;
}

ul{
    display: flex;
    gap: 50px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}